@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<table style="width:100%">
    <tbody>
        <tr>
            <td>
                <div>
                    <p style="text-align:center;margin-bottom:30px">
                        <img style="border:0;height:auto;line-height:100%;outline:none;text-decoration:none;width:400px;" src="@Model.link_logo" />
                    </p>
                    <div style="box-sizing:border-box;margin:0;">
                        <p style="text-align:left">Kính gửi anh / chị,</p>
                        <p style="text-align:left">QA xin thông báo hồ sơ đã phê duyệt:</p>

                        <p style="text-align:left"> - <b>@Model.title</b> (Ngày hiệu lực dự kiến: <b>@Model.date_effect.ToString("dd/MM/yyyy")</b>)</p>

                        <p style="text-align:left">Nội dung lên ấn bản:</p>
                        <p style="text-align:left">@Model.note</p>
                        <p style="text-align:left">Trân trọng,</p>
                        <p style="text-align:left">E-signature System</p>
                        <br>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>