@page
@model ForgotPasswordModel
@{
	Layout = null;
	ViewData["Title"] = "Forgot your password?";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Chữ ký điện tử</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- App favicon -->
	<link rel="shortcut icon" href="/images/favicon.png">
	<!--- FONTS -->
	<link rel="stylesheet" id="font-css" href="https://fonts.googleapis.com/css?family=Arimo%3A400%2C500%2C600%2C400i%2C700&amp;display=swap&amp;ver=5.7.6" type="text/css" media="all">
	<!-- App css -->

	<link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
	<link href="/admin/css/admin.min.css" rel="stylesheet" type="text/css" />

</head>

<body class="account-body accountbg">

	<!-- Log In page -->
	<div class="row vh-100 ">
		<div class="col-12 align-self-center">
			<div class="auth-page">
				<div class="card auth-card shadow-lg">
					<div class="card-body">
						<div class="px-3">

							<div class="text-center auth-logo-text">
								<h4 class="mt-0 mb-3 mt-5">Quên mật khẩu</h4>
								<p class="text-muted mb-0">Điền Email và hệ thống sẽ gửi đến cho bạn</p>
							</div> <!--end auth-logo-text-->


							<form class="form-horizontal auth-form my-4" method="post">

								<div class="form-group">
									@*<label for="useremail">Email</label>*@
									<div class="input-group mb-3">
										<span class="auth-form-icon">
											<i class="dripicons-mail"></i>
										</span>
										<input type="email" name="Email" class="form-control" id="useremail" placeholder="Enter Email">
									</div>
								</div><!--end form-group-->


								<div class="form-group mb-0 row">
									<div class="col-12 mt-2">
										<button class="btn btn-gradient-primary btn-round btn-block waves-effect waves-light" type="submit">Reset <i class="fas fa-sign-in-alt ml-1"></i></button>
									</div><!--end col-->
								</div> <!--end form-group-->
							</form><!--end form-->
						</div><!--end /div-->

						<div class="m-3 text-center text-muted">
							<p class="">Đã nhớ mật khẩu ? <a href="/Identity/Account/Login" class="text-primary ml-2">Đăng nhập</a></p>
						</div>
					</div><!--end card-body-->
				</div><!--end card-->
			</div><!--end auth-page-->
		</div><!--end col-->
	</div><!--end row-->
</body>
